form {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 400px;

    .container {
        width: 30%;
        background: rgba(135, 207, 235, 0.739);
        padding-left: 75px;
        padding-right: 50px;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 10px;

        p {
            margin-top: 15px;
        }

        .content {
            margin-top: 20px;

            .boo {
                margin-top: 10px;

                input {
                    border-radius: 3px;
                    border: 1px solid;
                    width: 250px;
                    padding: 3px;
                    box-shadow: 1px 2px 3px 3px rgba(0, 0, 0, 0.436);

                    :focus {
                        border-color: aqua;
                        border: none;
                    }
                }
            }
        }
    }

    button {
        margin-top: 25px;
        width: 250px;
        padding: 3px;
        background-color: blue;
        color: white;
        border: none;
        border-radius: 5px;
    }
}