<h1>REGISTER</h1>
<ul>
    <li><a routerLink="/login" routerLinkActive="active" class="btn btn-warning">Login</a></li>
</ul>

<div class="form">
    <div class="register">
        <h3>Create an account</h3>
        <p>Provide your details.</p>
        <div class="name boo">
            <b><label for="name">Your name</label></b>
            <input name="name" type="name" placeholder="Please Enter Your Name" required [(ngModel)]="user.name">
        </div>
        <div class="email boo">
            <b><label for="email">Email</label></b>
            <input name="email" type="email" required [(ngModel)]="user.email">
        </div>
        <div class="password boo">
            <b><label for="password">Password</label></b>
            <input name="password" type="password" required [(ngModel)]="user.password">
        </div>
        <p style="font-size: 0.8em;">By signing up i agree to the <a href="">thems & conditions</a> and <a href="">privacy policy</a></p>
        <button (click)="register()" class="create">Create an account</button>

            <div class="or">
                <hr>OR <hr>
            </div>

        <div class="icons">
            <div>
                <button class="link"><img style="padding: 1.5px;" src="/assets/Google.svg" alt=""></button>
            </div>
            <div>
                <button class="link"><img src="/assets/Facebook.svg" alt=""></button>
            </div>
            <div>
                <button class="link"><img src="/assets/Apple.svg" alt=""></button>
            </div>
        </div>


        <p style="margin-top: 15px;">Already a Member? <a routerLink="/login" routerLinkActive="active">Sign in.</a></p>
    </div>
</div>